In [3]:
age = 30

In [4]:
type(age)

int

In [6]:
print("My current age is "+ age)

TypeError: can only concatenate str (not "int") to str

In [7]:
age = str(age)

In [8]:
print("My current age is "+ age)

My current age is 30

In [10]:
my_salary = 75000
no_of_bank_accounts = 2
my_bonus = 20000
my_side_income = 120000

In [11]:
print("My name is this and my salary is "+str(my_salary) + " I have "+ str(no_of_bank_accounts) + " accounts and my bonus is "+ str(my_bonus))

My name is this and my salary is 75000 I have 2 accounts and my bonus is 20000

# f-strings == f"whatever you want write it and the use a placeholder{}"

In [12]:
print(f"My name is this and my salary is {my_salary}  I have {no_of_bank_accounts} accounts and my bonus is {my_bonus}")

My name is this and my salary is 75000  I have 2 accounts and my bonus is 20000

In [13]:
print(f"I know i have {2*500} notes in my pocket")

I know i have 1000 notes in my pocket

In [15]:
price = 59.78654

In [16]:
txt = f"The price is {price:.2f} dollars"
print(txt)

The price is 59.79 dollars

In [17]:
c = 7/8
c

0.875

In [18]:
print(f"The price is {c:.2f}")

The price is 0.88

In [19]:
print("Hello World!")
print("Hello World!")
print("Hello World!")

Hello World!
Hello World!
Hello World!

In [20]:
# Instead of writing this 3 times we can use "\n" which is a new line character for doing the same
# thing in a single line of code

print("Hello World!\nHello World!\nHello World!")

Hello World!
Hello World!
Hello World!