## Functions --

A block of code written to perform particular task.

In [5]:
def f_name(x):
    return x*3

In [6]:
f_name(9)

27

In [8]:
f_name(2)

6

In [9]:
def SI_calc(p,r,t):
    interest = (p*r*t)/100
    print(interest)

In [10]:
SI_calc(p = 5000, r = 5, t = 9)

2250.0

In [11]:
SI_calc(10000,5,9)

4500.0

In [12]:
SI_calc(10000,5)

TypeError: SI_calc() missing 1 required positional argument: 't'

In [16]:
def my_function(*kids):
  print("The father of all kids is " + kids[-1])

my_function("Emil", "Tobias", "Linus", "Leonidus")

The father of all kids is Leonidus

In [17]:
def my_function(child3, child2, child1):
  print("The youngest child is " + child3)

In [18]:
my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

The youngest child is Linus

In [20]:
def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

In [21]:
def my_function(food):
  for x in food:
    print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

apple
banana
cherry

In [26]:
def my_function(Bhai):
    pass